body {
  margin: 0;
  padding: 0 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont;
}

.container {
  padding: 16px;
}

button {
  padding: 6px 12px;
  cursor: pointer;
}

/* Custom Scrollbar cho toàn bộ Sidebar */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #2d3748 #232323; /* thumb track */
}

/* Chrome, Edge, Safari */
.sidebar-scroll::-webkit-scrollbar {
  height: 10px;
  width: 8px;
  background: #232323;
  border-radius: 8px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #404957;
  border-radius: 8px;
  transition: background 0.2s;
}
.sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background: #5a6680;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: #232323;
  border-radius: 8px;
}

.MuiDataGrid-sortButton {
  color: #b8b8b8 !important;
}

.MuiDataGrid-menuIconButton {
  color: #b8b8b8 !important;
}

.MuiDataGrid-cell--editing .MuiInputBase-root {
  color: #b8b8b8 !important;
}

.MuiTablePagination-toolbar {
  color: #b8b8b8 !important;
}

.MuiTablePagination-selectIcon {
  color: #b8b8b8 !important;
}

.Mui-disabled.MuiIconButton-root {
  color: #838181 !important;
}

.MuiDataGrid-filterIcon {
  color: #b8b8b8 !important;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-sizeMedium {
  color: #838181 !important;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
  color: #838181 !important;
}

.MuiInputAdornment-root.MuiInputAdornment-positionStart.MuiInputAdornment-outlined {
  color: #838181 !important;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd {
  color: #838181 !important;
}
